<div
  class="layout-box"
  fxLayout="row"
  fxLayoutAlign="center center"
  [ngStyle.xs]="{ padding: '0.625rem' }"
  [@bounceIn]="true"
>
  <div class="info-box" fxLayout="column" fxLayoutAlign="center center">
    <h4 class="text-center" nz-typography>
      Did you like my portfolio? Let's talk
    </h4>
    <span class="text-center" nz-typography>
      If you liked my portfolio you can contact me to get in touch to carry out
      your next project.
    </span>
  </div>
</div>
<div
  class="w-full p-10"
  fxLayout="column"
  fxLayoutAlign="center center"
  [@bounceIn]="true"
>
  <div class="content" [ngStyle.xs]="{ width: '100%', padding: '0.625rem' }">
    <nz-divider></nz-divider>
    <p nz-typography>
      You can contact me through the following email and get in touch to make
      your project come true, very well done and elegant so that your clients
      are always satisfied with your projects without any problem and with the
      best possible structure for the project.
    </p>
    <p nz-typography>
      We hope you are satisfied with the projects carried out by me for you with
      the best possible teaching so that the projects are always of quality and
      with a lot of effort.
    </p>
    <div class="w-full" fxLayout="row" fxLayoutAlign="end end">
      <h3 nz-typography>saturnoxnginx@gmail.com</h3>
    </div>
  </div>
</div>
