.info-box {
  background-color: #191919;
  border-radius: 0.625rem;
  padding: 0.625rem;
  max-width: 31.25rem;
}

.layout-box {
  width: 100%;
  height: auto;
  margin-top: -3.125rem;
}

.inner-box {
  padding: 0.9375rem;
  height: auto;
  background: #191919;
}

.grid-content {
  width: 80%;
}
