<div
  class="layout-box"
  fxLayout="row"
  fxLayoutAlign="center center"
  [ngStyle.xs]="{ padding: '0.625rem' }"
  [@bounceIn]="true"
>
  <div class="info-box" fxLayout="column" fxLayoutAlign="center center">
    <h4 class="text-center" nz-typography>Programming languages ​​and more</h4>
    <span class="text-center" nz-typography>
      The following list shows the programming languages ​​and tools that I can
      use to create your applications or programs.
    </span>
  </div>
</div>
<div
  class="w-full mt-20"
  fxLayout="row"
  fxLayoutAlign="center center"
  [@bounceIn]="true"
>
  <div class="grid-content" nz-row [nzGutter]="[16, 16]">
    <div nz-col nzXs="24" nzSm="8" nzMd="8" nzLg="8" nzXl="8">
      <div class="inner-box" fxLayout="row" fxLayoutAlign="space-between start">
        <div fxLayout="column">
          <h4 nz-typography>JavaScript</h4>
          <span nz-typography>Dynamic web pages</span>
          <p nz-typography>
            Organized, elegant, fast, readable, reactive, great.
          </p>
          <nz-divider></nz-divider>
          <span nz-typography>Average advanced level</span>
        </div>
        <img
          src="../../../assets/icons-tools/javascript.png"
          alt="JavaScript Logo"
          width="50"
          height="50"
        />
      </div>
    </div>
    <div nz-col nzXs="24" nzSm="8" nzMd="8" nzLg="8" nzXl="8">
      <div class="inner-box" fxLayout="row" fxLayoutAlign="space-between start">
        <div fxLayout="column">
          <h4 nz-typography>PHP</h4>
          <span nz-typography>Dynamic web pages</span>
          <p nz-typography>
            Process data, obtain data, dynamic, efficient.
          </p>
          <nz-divider></nz-divider>
          <span nz-typography>Intermediate level</span>
        </div>
        <img
          src="../../../assets/icons-tools/php.png"
          alt="JavaScript Logo"
          width="50"
          height="50"
        />
      </div>
    </div>
    <div nz-col nzXs="24" nzSm="8" nzMd="8" nzLg="8" nzXl="8">
      <div class="inner-box" fxLayout="row" fxLayoutAlign="space-between start">
        <div fxLayout="column">
          <h4 nz-typography>Apps - Java | Kotlin</h4>
          <span nz-typography>Applications development</span>
          <p nz-typography>
            Elegant, fast, readable, effective, good design.
          </p>
          <nz-divider></nz-divider>
          <span nz-typography>Advanced level</span>
        </div>
        <img
          src="../../../assets/icons-tools/android_studio.png"
          alt="JavaScript Logo"
          width="50"
          height="50"
        />
      </div>
    </div>
    <div nz-col nzXs="24" nzSm="8" nzMd="8" nzLg="8" nzXl="8">
      <div class="inner-box" fxLayout="row" fxLayoutAlign="space-between start">
        <div fxLayout="column">
          <h4 nz-typography>Angular</h4>
          <span nz-typography>Dweb apps development</span>
          <p nz-typography>
            Good design, efficient, reactive, multifunctional, robust.
          </p>
          <nz-divider></nz-divider>
          <span nz-typography>Advanced level</span>
        </div>
        <img
          src="../../../assets/icons-tools/angular.png"
          alt="JavaScript Logo"
          width="50"
          height="50"
        />
      </div>
    </div>
    <div nz-col nzXs="24" nzSm="8" nzMd="8" nzLg="8" nzXl="8">
      <div class="inner-box" fxLayout="row" fxLayoutAlign="space-between start">
        <div fxLayout="column">
          <h4 nz-typography>Wordpress</h4>
          <span nz-typography>Web pages development</span>
          <p nz-typography>
            Blog, cms, publication system, forums, social network.
          </p>
          <nz-divider></nz-divider>
          <span nz-typography>Advanced level</span>
        </div>
        <img
          src="../../../assets/icons-tools/wordpress.png"
          alt="JavaScript Logo"
          width="50"
          height="50"
        />
      </div>
    </div>
    <div nz-col nzXs="24" nzSm="8" nzMd="8" nzLg="8" nzXl="8">
      <div class="inner-box" fxLayout="row" fxLayoutAlign="space-between start">
        <div fxLayout="column">
          <h4 nz-typography>MongoDb</h4>
          <span nz-typography>Databases</span>
          <p nz-typography>
            Design and creation of non-relational databases in Json.
          </p>
          <nz-divider></nz-divider>
          <span nz-typography>Intermediate level</span>
        </div>
        <img
          src="../../../assets/icons-tools/mongodb.png"
          width="50"
          height="50"
        />
      </div>
    </div>
    <div nz-col nzXs="24" nzSm="8" nzMd="8" nzLg="8" nzXl="8">
      <div class="inner-box" fxLayout="row" fxLayoutAlign="space-between start">
        <div fxLayout="column">
          <h4 nz-typography>NodeJs</h4>
          <span nz-typography>
            JavaScript development environment
          </span>
          <p nz-typography>
            Creation of servers or web pages with the development engine of
            NodeJs.
          </p>
          <nz-divider></nz-divider>
          <span nz-typography>Intermediate level</span>
        </div>
        <img
          src="../../../assets/icons-tools/nodejs.svg"
          width="50"
          height="50"
        />
      </div>
    </div>
    <div nz-col nzXs="24" nzSm="8" nzMd="8" nzLg="8" nzXl="8">
      <div class="inner-box" fxLayout="row" fxLayoutAlign="space-between start">
        <div fxLayout="column">
          <h4 nz-typography>TypeScript</h4>
          <span nz-typography>
            TypeScript development environment
          </span>
          <p nz-typography>
            Creation of servers or web pages with the development engine of
            NodeJs using TypeScript code.
          </p>
          <nz-divider></nz-divider>
          <span nz-typography>Intermediate level</span>
        </div>
        <img
          src="../../../assets/icons-tools/typescript.png"
          width="50"
          height="50"
        />
      </div>
    </div>
    <div nz-col nzXs="24" nzSm="8" nzMd="8" nzLg="8" nzXl="8">
      <div class="inner-box" fxLayout="row" fxLayoutAlign="space-between start">
        <div fxLayout="column">
          <h4 nz-typography>MySql</h4>
          <span nz-typography>
            Relational database
          </span>
          <p nz-typography>
            Creation and design of basic relational databases.
          </p>
          <nz-divider></nz-divider>
          <span nz-typography>Intermediate level</span>
        </div>
        <img
          src="../../../assets/icons-tools/mysql.webp"
          width="50"
          height="50"
        />
      </div>
    </div>
  </div>
</div>
