<div
  class="layout-box"
  fxLayout="row"
  fxLayoutAlign="center center"
  [ngStyle.xs]="{ padding: '0.625rem' }"
  [@bounceIn]="true"
>
  <div class="info-box" fxLayout="column" fxLayoutAlign="center center">
    <h4 class="text-center" nz-typography>The beginning...</h4>
    <span class="text-center" nz-typography>
      Learn a little more about me, a little look at how I started my career in
      this world of web programming and mobile applications.
    </span>
  </div>
</div>
<div
  class="w-full p-10"
  fxLayout="column"
  fxLayoutAlign="center center"
  [@bounceIn]="true"
>
  <div class="content" [ngStyle.xs]="{ width: '100%', padding: '0.625rem' }">
    <nz-divider></nz-divider>
    <p nz-typography>
      I started programming when I was 14 years old on a computer that was in my
      house, nobody used it so I ventured into the world of computer science.
      First as a whole child I started to just play on the computer, but then I
      was interested to know how the game was made and how it was made to work
      in those ways, so then I ventured into the world of programming in
      Minecraft, a well-known game. I ventured into the world of Minecraft
      servers.
    </p>
    <p nz-typography>
      Towards Minecraft servers every day, first I only started to configure
      them but then I already started creating plugins on Minecraft servers and
      that's how I learned Java, since Minecraft server plugins are programmed
      in the Java language.
    </p>
    <p nz-typography>
      I continued my world of programming until I ventured into developing
      Android applications, where I was even able to make a social network, a
      sales application, etc., it was a while ago and sadly I lost all those
      projects, but the wealth of Knowledge never left, so I am still
      programming Android applications for various clients and companies.
    </p>
    <p nz-typography>
      Then it was time to learn JavaScript since it was my turn that a client
      wanted an Android application, so I ventured into that world to be able to
      make a web client and in the best way I had possible it was through
      JavaScript, so I had to learn JavaScript Vanilla and then get to where I
      am now with Angular.
    </p>
    <p nz-typography>
      I learned several programming languages ​​that you will find in the
      following pages, but my strongest points are Java, JavaScript and web
      design.
    </p>
    <div class="w-full" fxLayout="row" fxLayoutAlign="end end">
      <h3 nz-typography>𝓢𝓪𝔀𝓪𝓓𝓮𝓼𝓲𝓰𝓷</h3>
    </div>
  </div>
</div>
