.header-home {
  background-image: url("https://c.wallhere.com/photos/b3/d1/anime_girls_white_hair_long_hair_flower_crown_gray_eyes_smiling_dress_white_dress-1596271.jpg!d");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  width: 100%;
  height: 37.5rem;
}

.overlay {
  padding: 0.625rem;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
}
