<nz-layout>
  <nz-content>
    <div class="header-home" fxLayout="column" fxLayoutAlign="center center">
      <div class="overlay" fxLayout="column" fxLayoutAlign="center center">
        <div
          fxLayout="column"
          fxLayoutAlign="space-between center"
          [@fadeIn]="true"
        >
          <img
            src="../assets/design/logo.svg"
            alt="SawaCode Icon"
            width="60"
            height="60"
          />
          <h2 nz-typography>SawaCode</h2>
          <span nz-typography>Your designs and ideas come true.</span>
          <nz-divider></nz-divider>
          <div fxLayout="row wrap" fxLayoutAlign="center center">
            <a
              nz-button
              nzType="link"
              [routerLink]="['/about']"
              [routerLinkActive]="['link-menu-active']"
            >
              <i nz-icon nzType="home"></i>
              About
            </a>
            <nz-divider nzType="vertical"></nz-divider>
            <a
              nz-button
              nzType="link"
              [routerLink]="['/projects']"
              [routerLinkActive]="['link-menu-active']"
            >
              <i nz-icon nzType="projects"></i>
              Projects
            </a>
            <nz-divider nzType="vertical"></nz-divider>
            <a
              nz-button
              nzType="link"
              [routerLink]="['/programming-language']"
              [routerLinkActive]="['link-menu-active']"
            >
              <i nz-icon nzType="programming"></i>
              Programming Languages
            </a>
            <nz-divider nzType="vertical"></nz-divider>
            <a
              nz-button
              nzType="link"
              [routerLink]="['/contact']"
              [routerLinkActive]="['link-menu-active']"
            >
              <i nz-icon nzType="contact"></i>
              Contact
            </a>
          </div>
          <nz-divider></nz-divider>
        </div>
      </div>
    </div>
    <router-outlet></router-outlet>
  </nz-content>
  <nz-footer></nz-footer>
</nz-layout>
